<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="http" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="mailto" />
    </intent>
  </queries>

  <application>
    <!-- Shares camera captures from <input type="file"> with the camera app. -->
    <provider
      android:name=".HotwiredFileProvider"
      android:authorities="${applicationId}.hotwired.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/hotwired_file_provider_paths" />
    </provider>
  </application>
</manifest>
